@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --md-sys-color-primary: rgb(179 8 0);
    --md-sys-color-surface-tint: rgb(191 9 0);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(219 35 18);
    --md-sys-color-on-primary-container: rgb(255 243 241);
    --md-sys-color-secondary: rgb(169 55 39);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(252 116 95);
    --md-sys-color-on-secondary-container: rgb(110 11 3);
    --md-sys-color-tertiary: rgb(120 80 0);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(152 103 0);
    --md-sys-color-on-tertiary-container: rgb(255 244 234);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(255 248 246);
    --md-sys-color-on-background: rgb(41 23 20);
    --md-sys-color-surface: rgb(255 248 246);
    --md-sys-color-on-surface: rgb(41 23 20);
    --md-sys-color-surface-variant: rgb(255 218 212);
    --md-sys-color-on-surface-variant: rgb(93 63 58);
    --md-sys-color-outline: rgb(146 111 105);
    --md-sys-color-outline-variant: rgb(231 189 182);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(64 43 40);
    --md-sys-color-inverse-on-surface: rgb(255 237 234);
    --md-sys-color-inverse-primary: rgb(255 180 167);
    --md-sys-color-primary-fixed: rgb(255 218 212);
    --md-sys-color-on-primary-fixed: rgb(64 1 0);
    --md-sys-color-primary-fixed-dim: rgb(255 180 167);
    --md-sys-color-on-primary-fixed-variant: rgb(146 5 0);
    --md-sys-color-secondary-fixed: rgb(255 218 212);
    --md-sys-color-on-secondary-fixed: rgb(64 1 0);
    --md-sys-color-secondary-fixed-dim: rgb(255 180 167);
    --md-sys-color-on-secondary-fixed-variant: rgb(136 31 19);
    --md-sys-color-tertiary-fixed: rgb(255 221 176);
    --md-sys-color-on-tertiary-fixed: rgb(40 24 0);
    --md-sys-color-tertiary-fixed-dim: rgb(249 188 88);
    --md-sys-color-on-tertiary-fixed-variant: rgb(97 64 0);
    --md-sys-color-surface-dim: rgb(243 211 205);
    --md-sys-color-surface-bright: rgb(255 248 246);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(255 240 238);
    --md-sys-color-surface-container: rgb(255 233 229);
    --md-sys-color-surface-container-high: rgb(255 226 221);
    --md-sys-color-surface-container-highest: rgb(252 219 214);
  }

  /* Dark theme variables */
  .dark {
    --md-sys-color-primary: rgb(255 180 167);
    --md-sys-color-surface-tint: rgb(255 180 167);
    --md-sys-color-on-primary: rgb(104 3 0);
    --md-sys-color-primary-container: rgb(219 35 18);
    --md-sys-color-on-primary-container: rgb(255 243 241);
    --md-sys-color-secondary: rgb(255 180 167);
    --md-sys-color-on-secondary: rgb(103 4 1);
    --md-sys-color-secondary-container: rgb(136 31 19);
    --md-sys-color-on-secondary-container: rgb(255 154 137);
    --md-sys-color-tertiary: rgb(249 188 88);
    --md-sys-color-on-tertiary: rgb(68 44 0);
    --md-sys-color-tertiary-container: rgb(152 103 0);
    --md-sys-color-on-tertiary-container: rgb(255 244 234);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(31 15 12);
    --md-sys-color-on-background: rgb(252 219 214);
    --md-sys-color-surface: rgb(31 15 12);
    --md-sys-color-on-surface: rgb(252 219 214);
    --md-sys-color-surface-variant: rgb(93 63 58);
    --md-sys-color-on-surface-variant: rgb(231 189 182);
    --md-sys-color-outline: rgb(173 136 130);
    --md-sys-color-outline-variant: rgb(93 63 58);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(252 219 214);
    --md-sys-color-inverse-on-surface: rgb(64 43 40);
    --md-sys-color-inverse-primary: rgb(191 9 0);
    --md-sys-color-primary-fixed: rgb(255 218 212);
    --md-sys-color-on-primary-fixed: rgb(64 1 0);
    --md-sys-color-primary-fixed-dim: rgb(255 180 167);
    --md-sys-color-on-primary-fixed-variant: rgb(146 5 0);
    --md-sys-color-secondary-fixed: rgb(255 218 212);
    --md-sys-color-on-secondary-fixed: rgb(64 1 0);
    --md-sys-color-secondary-fixed-dim: rgb(255 180 167);
    --md-sys-color-on-secondary-fixed-variant: rgb(136 31 19);
    --md-sys-color-tertiary-fixed: rgb(255 221 176);
    --md-sys-color-on-tertiary-fixed: rgb(40 24 0);
    --md-sys-color-tertiary-fixed-dim: rgb(249 188 88);
    --md-sys-color-on-tertiary-fixed-variant: rgb(97 64 0);
    --md-sys-color-surface-dim: rgb(31 15 12);
    --md-sys-color-surface-bright: rgb(73 52 49);
    --md-sys-color-surface-container-lowest: rgb(25 10 8);
    --md-sys-color-surface-container-low: rgb(41 23 20);
    --md-sys-color-surface-container: rgb(45 27 24);
    --md-sys-color-surface-container-high: rgb(57 37 34);
    --md-sys-color-surface-container-highest: rgb(68 48 44);
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #434343,
      #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%);
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #f12711,
      #f5af19);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #f12711,
      #f5af19);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #ec008c,
      #fc6767);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #ec008c,
      #fc6767);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

section {
  min-height: 300px;
}

.main-content {
  margin-top: 76px;
  height: calc(100vh - 76px);
}